<?xml version="1.0" encoding="utf-8"?>
<odoo>
<menuitem  id="g2b_beneficiary_info_menu_id"
           name="Beneficiary"
           sequence="11"
 />
<menuitem  id="g2b_beneficiary_info_submenu_id"
           name="Register Beneficiary"
           parent="g2b_beneficiary_info_menu_id"
           sequence="1"
           action="g2b_beneficiary_info_action_id"
 />
<!-- <menuitem  id="g2b_benefit_info_submenu_id"-->
<!--           name="Register Benefits"-->
<!--           parent="g2b_beneficiary_info_menu_id"-->
<!--           sequence="2"-->
<!--           action="g2b_benefit_info_action_id"-->
<!-- />-->
 <menuitem  id="g2b_benefit_detail_submenu_id"
           name="Beneficiary Detail"
           parent="g2b_beneficiary_info_menu_id"
           sequence="3"
           action="g2b_beneficiary_detail_action_id"
 />
 <menuitem  id="g2b_configuration_submenu_id"
           name="Configuration"
           parent="g2b_beneficiary_info_menu_id"
           sequence="4"
 />
 <menuitem  id="g2b_id_types_submenu_id"
           name="Register Id Types"
           parent="g2b_configuration_submenu_id"
           sequence="5"
           action="g2b_id_type_action_id"
 />
 <menuitem  id="g2b_beneficiary_category_submenu_id"
           name="beneficiary Category"
           parent="g2b_configuration_submenu_id"
           sequence="6"
           action="g2b_beneficiary_category_action_id"
 />
<!-- <menuitem  id="g2b_package_line_submenu_id"-->
<!--           name="Manage Package"-->
<!--           parent="g2b_beneficiary_info_menu_id"-->
<!--           sequence="5"-->
<!--           action="g2b_package_line_action_id"-->
<!-- />-->
</odoo>