<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <menuitem
        id="plan_menu"
        name="Plan"
        action="mrp_planing_action"
      
        parent="mrp.menu_mrp_manufacturing"
        sequence="10"/>
    <menuitem
        id="plan_template_menu"
        name="Plan Template"
        action="mrp_plan_template_action"
      
        parent="mrp.menu_mrp_manufacturing"
        sequence="20"/>

        
</odoo>