
$o-brand-odoo: #15a34a;
$o-brand-primary: #15a34a;
$navbar-color: black;
$o-sidebar-hover: #15a34a;
$mk-menu-color: white;
//$ashewa-text-color: #252B48;
$ashewa-text-color: #334756;
$ashewa-hover-text-color: white;
$mk-appbar-color: white;
$ashewa-font-type: "Poppins", sans-serif;
$mk-appbar-background: ffffff;
$content-width: 95%;