<?xml version="1.0" encoding="utf-8"?>
<odoo>
<menuitem  id="g2b_package_info_menu_id"
           name="Benefits"
           sequence="13"
 />
<menuitem  id="g2b_benefit_info_submenu_id"
           name="Benefits"
           parent="g2b_package_info_menu_id"
           sequence="1"
           action="g2b_beneficiary.g2b_benefit_info_action_id"
 />
 <menuitem  id="g2b_package_info_submenu_id"
           name="Packages"
           parent="g2b_package_info_menu_id"
           sequence="2"
           action="g2b_beneficiary.g2b_package_line_action_id"
 />
 <menuitem  id="g2b_product_info_submenu_id"
           name="Product"
           parent="g2b_package_info_menu_id"
           sequence="3"
 />
</odoo>
<!--           action="sale.menu_product_template_action"-->
