<?xml version="1.0" encoding="utf-8"?>
<odoo>
<menuitem  id="g2b_provider_info_menu_id"
           name="Provider"
           sequence="13"
 />
<menuitem  id="g2b_provider_info_submenu_id"
           name="Register Provider"
           parent="g2b_provider_info_menu_id"
           sequence="1"
           action="g2b_provider_info_action_id"
 />
</odoo>