// Colors For Side Bar App Menu

$addis_systems_color_appsmenu_text: #ffffff;
$addis_systems_color_appbar_text: #ffffff;
$addis_systems_color_appbar_active: #b71862;
$addis_systems_color_appbar_background: #000066;

// Override

$addis-systems-appsmenu-color: $addis_systems_color_appsmenu_text;
$addis-systems-appbar-color: $addis_systems_color_appbar_text;
$addis-systems-appbar-active: $addis_systems_color_appbar_active;
$addis-systems-appbar-background: $addis_systems_color_appbar_background;

.o_address_addis_systems_format {
        width: 100%;
        .o_address_street, .o_address_country {
            display: flex;
        }

        .o_address_city span {
            margin-right: 2%;
        }
        .o_address_state span {
            margin-right: 2%;
        }
        &.o_zip_city {
            .o_address_zip span {
                margin-right: 2%;
            }
            .o_address_city span {
                margin-right: 0;
            }
            .o_address_state span {
                display: block;
                margin-right: 0;
            }
        }
        &.o_city_state {
            .o_address_state span {
                margin-right: 0;
            }
            .o_address_zip span {
                display: block;
                margin-right: 0;
            }
        }
        > .o_field_widget span {
            width: auto;
        }
    }