$addis-systems-appbar-color: #ffffff !default;
$addis-systems-appbar-active: #000066 !default; //New
$addis-systems-appbar-background: #b71862 !default;

$addis-systems-sidebar-large-width: 186px !default;
$addis-systems-sidebar-small-width: 56px !default;

$o-form-renderer-max-width: 3840px;
$o-form-view-sheet-max-width: 2560px;

$o-navbar-badge-bg: #0dff00a7 !default;
